<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>User Details</title>
</head>
<body>
<div class="container">
  <h2>User Details</h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.name}"></td>
      <td th:text="${user.age}"></td>
      <td th:text="${user.email}"></td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>